doctype html
html(lang="fi")
  head
    link(rel="stylesheet", href="stylesheets/style.scss")
  body
    h1(class="large") This is a pug starter template.
    p.
      Pug is a high-performance template engine heavily influenced by 
      #[em Haml] and implemented with JavaScript for Node.js and browsers.
     
    h2 This is a heading
    p. 
        This is a paragraph.  
        This 
        is
        #[strong #[sup a paragraph]]

    ul 
      for i in [1,2,3]
        li(class="item")= "item " + i 

    footer.
    p Footer texts
    p &copy; 2024